* {
  font-family: verdana;
}

main {
  margin-bottom: 10rem;
  height: 50vh;
}

.linkyBois {
  display: flex;
  justify-content: space-between;
  width: 80vw;
}

.linkyBoys:hover {
  cursor: pointer;
}

.orangeBoi {
  width: 10rem;
  height: 10rem;
  background-color: #ffa300;
}

.littleBoi {
  font-size: 0.8rem;
}

footer {
  text-align: right;
  padding-right: 2rem;
}
